.home-common-apps
    .home-common-apps__wrapper
        .home-common-apps__icon.icon__phone(@click="$router.push({ name: 'phone' })")
        .home-common-apps__icon.icon__messages
        .home-common-apps__icon.icon__safari
