.home-common-apps
    .home-common-apps__wrapper
        .home-common-apps__icon.icon__phone-ios(@click="$router.push({ name: 'contact:last' })")
        .home-common-apps__icon.icon__messages
        .home-common-apps__icon.icon__safari
