.home-info-bar
    .home-info-bar__wrapper
        .home-info-bar__time {{ currentTime }}
    .home-info-bar__wrapper
        .home-info-bar__reach
        .home-info-bar__conntection 5G
        .home-info-bar__battery
