.contact
    .contact__nav
        .contact__nav__back.icon__back(@click="backToHome") Wstecz
    router-view
    .contact__menu
        .contact__menu__item(:class="{'contact__menu__item-selected': isSelected(RouteName.contactLast)}")
            i.contact__menu__item__icon(:class="{'icon__clock-blue': isSelected(RouteName.contactLast)}").icon__clock
            span.contact__menu__item__text Ostatnie
        .contact__menu__item
            i.contact__menu__item__icon.icon__avatar
            span.contact__menu__item__text Kontakty
        .contact__menu__item
            i.contact__menu__item__icon.icon__keyboard
            span.contact__menu__item__text Przyciski
